<ion-header [translucent]="true">
  <ion-toolbar  color="primary">
    <ion-title class="titulo">Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-box">
    <ion-img class="img"
    src="assets/icon/3.png"
  ></ion-img>
    <form class="form">
        <div class="form-container">
          <input type="text" class="input" placeholder="email">
        </div>
        <button [routerLink]="['/login']">
          <span class="span-mother">
            <span>R</span>
            <span>E</span>
            <span>C</span>
            <span>U</span>
            <span>P</span>
            <span>E</span>
            <span>R</span>
            <span>A</span>
            <span>R</span>
        </span>
        <span class="span-mother2">
          <span>R</span>
          <span>E</span>
          <span>C</span>
          <span>U</span>
          <span>P</span>
          <span>E</span>
          <span>R</span>
          <span>A</span>
          <span>R</span>
        </span>
        </button>
        
    </form>
    </div>
</ion-content>
